<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Generations and Journeys - Home</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
  <script src="main.js"></script>
</head>
<body>
   <div class="container">
    <div th:replace="header"></div>

    <main>
      <h2>Some Amazing Trips</h2>
      <section class="itemsForTrips">
        <div th:each="trip : ${trips}">
            <a th:href="@{/trip(id = ${trip.id})}">
              <h3 th:text="${trip.name}"></h3>
              <img th:src="@{${trip.imgUrl}}" />
            </a>
        </div>
      </section>
    </main>
    
    <div th:replace="footer"></div>
  </div>
</body>
</html>